[user]
  name = Andrey Sidorov
  email = takandar@gmail.com
  signingkey = 084D4F9AF302F65A

[merge]
  summary = true
  verbosity = 1
  tool = gvimdiff ;mvimdiff
  conflictstyle = diff3
  prompt = false
  keepBackup = false

[mergetool "gvimdiff"]
  ; cmd = "mvim -f --nomru -c 'Gdiff' $MERGED" # use fugitive.vim for 3-way merge
  prompt = false
  keepBackup = false

;[mergetool "mvimdiff"]
  ;cmd = "mvim -f --nomru -c 'Gdiff' $MERGED" # use fugitive.vim for 3-way merge
  ;prompt = false
  ;keepBackup = false

[alias]
  d = difftool
  m = mergetool

[diff]
  tool = default-difftool

[difftool]
  prompt = false

[difftool "default-difftool"]
  cmd = mvim -d -f --nomru $LOCAL $REMOTE

[git-up "bundler"]
  check = true

[core]
  autocrlf = input
  editor = mvim -f --nomru

[push]
  default = current

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[commit]
	gpgsign = true
